* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}
body,
.card,
.card-headder,
.card-links,
.ingredients,
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-logo{
    height: 100px;
}
.img-recipe{
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.card {
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02), 0px 5px 4px rgba(3, 7, 18, 0.03),
    0px 12px 9px rgba(3, 7, 18, 0.05), 0px 20px 15px rgba(3, 7, 18, 0.06),
    0px 32px 24px rgba(3, 7, 18, 0.08);
    border-radius: 16px;
    width: 500px;
    padding: 16px;
    gap: 10px;
}
.card-headder {
}
.card-links {
}
.ingredients {
}
.recipe {
}
